<ion-header>
  <ion-toolbar>
    <ion-title>Catálogo de libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-item>
  <ion-label>Género</ion-label>
  <ion-select [(ngModel)]="selectedFilter" (ionChange)="selectFilter($event.detail.value)" interface="popover">
    <ion-select-option *ngFor="let filter of filterTypes" [value]="filter">
      {{ filter }}
    </ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label>Filtro transacción</ion-label>
  <ion-select [(ngModel)]="selectedPriceFilter" (ionChange)="selectPriceFilter($event.detail.value)" interface="popover">
    <ion-select-option *ngFor="let priceFilter of priceFilters" [value]="priceFilter">
      {{ priceFilter }}
    </ion-select-option>
  </ion-select>
</ion-item>




  <!-- Barra de búsqueda -->
<ion-searchbar
  [(ngModel)]="searchTerm"
  (ionInput)="onSearchTermChange()"
  placeholder="Buscar libro por título">
</ion-searchbar>


  <!-- Grid de libros -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let book of filteredBooks">
        <ion-card class="book-card">
          <ion-img [src]="book.cover" alt="Cover of {{ book.title }}" class="book-cover"></ion-img>


          <ion-card-header>
            <ion-card-title>{{ book.title }}</ion-card-title>
            <ion-card-subtitle>{{ book.author }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>📚 Género: {{ book.genres }}</p>

            <ion-item *ngIf="book.rentPrice > 0">
              <div class="price-box">
                <p>💰 Alquiler por semana: {{ '$' + book.rentPrice }}</p>
                <p>
                  Disponibilidad para alquiler:
                  <span class="availability" [ngClass]="getAvailabilityClass(book.availableCopiesRent)"></span>
                  {{ book.availableCopiesRent }}
                </p>
              </div>
            </ion-item>

            <ion-item *ngIf="book.buyPrice > 0">
              <div class="price-box">
                <p>🛒 Comprar: {{ '$' + book.buyPrice }}</p>
                <p>
                  Disponibilidad para venta:
                  <span class="availability" [ngClass]="getAvailabilityClass(book.availableCopiesSales)"></span>
                  {{ book.availableCopiesSales }}
                </p>
              </div>
            </ion-item>

            <ion-button [routerLink]="'/book-detail/' + book.id" expand="full" color="primary">
              Detalle
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botón cargar más libros -->
  <ion-button
    expand="block"
    (click)="loadBooks()"
    *ngIf="hasMoreBooks && !loading"
    class="ion-margin-top"
  >
    Cargar más libros
  </ion-button>

  <!-- Spinner mientras carga -->
  <ion-spinner *ngIf="loading" name="crescent" class="ion-margin-top"></ion-spinner>

</ion-content>
