// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #C8A97E;
  --ion-color-secondary: #8D6E63;
  --ion-color-background: #F5E9DA;
  --ion-color-text: #3E2723;
  --ion-color-accent: #6D4C41;
}

